<body>
  <h2>General Stats about the Sightings</h2>
    <li>The total number of squirrels is: {{squirrels_num}}</li>
    <li>The number of adult squirrels is: {{Age_Adult}}</li>
    <li>The number of juvenile squirrels is: {{Age_Juvenile}}</h3>
    <li>The number of squirrels that are running is: {{Running_num}}</h3>
    <li>The number of squirrels that are chasing is: {{Chasing_num}}</li>
    <li>The number of squirrels that are climbing is: {{Climbing_num}}</li>
    <li>The number of squirrels that are eating is: {{Eating_num}}</li>
</body>



